{% load static %}
<html>
<head>
 <title>Student App</title>
    
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/student.css' %}">
</head>
<body>
  <div class="row-fluid" >
  	<div class="post">
		<h1>Student Details</h1>
		{% for student in list %}
			<p>{{ student.name }}: {{student.age}}</p>
		{% endfor %}
		<h2>Add new student data</h2>
		<form method='post' action = '/'> 
			{% csrf_token %}
			{{ form }}
		<input type = 'submit' value = 'Add'>
		</form>
  	</div>
  </div>
</body>
</html>